<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>jspdemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>password</param-name>
  <param-value>payal</param-value>
  </context-param>
  <servlet>
  <servlet-name>One</servlet-name>
  <jsp-file>/one.jsp</jsp-file>
  
  <init-param>
  <param-name>username</param-name>
  <param-value>Payal</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>One</servlet-name>
  <url-pattern>/One</url-pattern>
  </servlet-mapping>
  <jsp-config>
  <jsp-property-group>
  <url-pattern>/*</url-pattern>
  <el-ignored> false</el-ignored>
  </jsp-property-group>
  </jsp-config>
</web-app>